[Unit]
Description=Simple Fan Control
After=ssh.service

[Service]
Type=forking
User=root
PIDFile=/var/run/fanctrl.pid
ExecStart=/bin/sh -c /usr/local/bin/fanctrlpwm.sh start
ExecStop=/bin/sh -c /usr/local/bin/fanctrlpwm.sh stop
Restart=always

[Install]
WantedBy=default.target
