[Unit]
Description=Simple Fan Control
After=ssh.service

[Service]
Type=forking
User=root
PIDFile=/var/run/fanctrl.pid
ExecStart=/bin/sh -c "eval /usr/local/bin/fanctrl & sleep 1; pidof fanctrl > /var/run/fanctrl.pid"
Restart=always

[Install]
WantedBy=default.target
